{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Maps</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        #pano {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        #map {
            z-index: 10;
        }
        
        .big-map {
            height: 100%;
            width: 100%;
        }
        
        .pip-map {
            height: 250px;
            width: 250px;
            margin: 10px;
        }
        
        #floating-modal {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto', 'sans-serif';
            line-height: 30px;
            transform: translate(-50%, -50%);
        }
        
        .info-window {
            color: blue;
        }
        
    </style>
</head>

<body>
    <div id="floating-modal" hidden>
        <form action="/create_marker/" method="POST" id="modal-form">
            {% csrf_token %}
            <label for="title">title: 
                <input type="text" id="modal-form-title" name="title"><br>
            </label>
            <label for="infoText">info text: 
                <textarea cols="100" rows="20" id="modal-form-infoText" name="infoText"></textarea><br>
            </label>
            <button type="submit">create</button>
            <button type="button" onclick="hideModal();">cancel</button>
            <div id="modal-form-results"></div>
        </form>
    </div>
    <div id="container">
        <div id="map" class="big-map"></div>
        <div id="pano" class="big-map" style="display: none;"></div>
    </div>
    {% for marker in markers %}
        <map-marker 
            hidden 
            data-lat="{{ marker.lat }}" 
            data-lng="{{ marker.lng }}" 
            data-infoText="{{ marker.infoText }}"
        >
            {{marker.title}}
        </map-marker>
    {% endfor %}
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script>
        var panorama, map;
        var markers = [], infoWindows = [];
        var mapContainerDiv = document.getElementById("container")
        var mapDiv = document.getElementById("map") 
        var panoDiv = document.getElementById("pano") 
        var lat, lng;
        var pegMovingInSV = false
        
        const showModal = () => {
            if (!panorama.getVisible()) return
            document.querySelector("#floating-modal").style.display = "inline-block"
        }
        
        const hideModal = () => {
            if (!panorama.getVisible()) return
            document.querySelector("#floating-modal").style.display = "none"
            document.querySelector("#modal-form-results").innerHTML = ""
        }
        
        const markerInfoClick = (marker, infoWindow) => {
            marker.addListener('click', function() {
                infoWindow.open(marker.map, marker);
            });
        }
        
        const changeMaps = (markers, map) => {
            markers.forEach(m => m.map = map)
        }
        
        
        function initMap() {
            var tokyo = { lat: 35.689722, lng: 139.692222 };
            
            /* create new panoramma to support picture in picture map */
            panorama = new google.maps.StreetViewPanorama(panoDiv, {
                enableCloseButton: true,
                addressControl: true,
                visible: false,
            })
            
            // Set up the map
            map = new google.maps.Map(mapDiv, {
                center: tokyo,
                zoom: 18,
                mapTypeId: 'satellite',
                streetView: panorama,
                streetViewControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: true,
                rotateControl: true,
                fullscreenControl: true,
                overviewMapControl: true,
            });
            
            // const addMarkerDiv = document.createElement("div")
            // const floatingPanel = new CreateMarkerControl(addMarkerDiv, panorama)
            // addMarkerDiv.index = 1
            // panorama.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(addMarkerDiv);
            
            // const pipDiv = document.createElement("div")
            // pipDiv.style.width = "500px"
            // pipDiv.style.height = "500px"
            // pipDiv.index = 1
            // panorama.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(pipDiv);


            infoWindows = [...document.querySelectorAll("info-window")].map(element => new google.maps.InfoWindow({
                content: element.innerHTML
            }))
            
            markers = [...document.querySelectorAll("map-marker")].map(m => {
                const lng = parseFloat(m.getAttribute('data-lng'))
                const lat = parseFloat(m.getAttribute('data-lat'))
                const infoText = m.getAttribute('data-infoText')
                const title = m.innerText
                const marker = new google.maps.Marker({
                    position: { lat, lng },
                    map: map,
                    title, 
                })
                const infoWindow = new google.maps.InfoWindow({
                    content: `<p id="info-window">${infoText}</p>`
                })
                
                infoWindows = [...infoWindows, infoWindow]
                markerInfoClick(marker, infoWindow)
                return marker
            })
            
            map.addListener("mouseover", () => {
                if ($("#pano").is(':visible')) {
                    pegMovingInSV = true
                }
            })
            
            map.addListener("mouseout", () => {
                if ($("#pano").is(':visible')) {
                    pegMovingInSV = false 
                }
            })
            
            
            const panoLBControls = panorama.controls[google.maps.ControlPosition.LEFT_BOTTOM]
            
            panorama.addListener("visible_changed", function() {
                if(panorama.getVisible() && $("#pano").is(':hidden')){
                    $("#pano").show();          
                    $("#map").removeClass('big-map');
                    $("#map").addClass('pip-map');
                    changeMaps(markers, panorama)
                    panoLBControls.push(mapDiv)
                    map.setOptions({
                        streetViewControl: false,
                        zoomControl: true,
                        mapTypeControl: false,
                        scaleControl: false,
                        rotateControl: false,
                        fullscreenControl: true,
                        overviewMapControl: false,
                    })
                }
            });        
            
            panorama.addListener("closeclick", function() {
                $("#pano").hide();  
                $("#map").removeClass('pip-map');
                $("#map").addClass('big-map');        
                changeMaps(markers, map)
                
                // remove pip-map from pano controls and add it back to container
                const index = panoLBControls.indexOf(mapDiv)
                if (index > -1) {
                    const div = panoLBControls.removeAt(index)
                    mapContainerDiv.append(div)
                }
                
                // reset the map default map controls 
                map.setOptions({
                    streetViewControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    rotateControl: true,
                    fullscreenControl: true,
                    overviewMapControl: true,
                })
            });
            
            //TODO: might be a better way to store current lat/ lng for use with add marker
            panorama.addListener('position_changed', () => {
                const pos = panorama.getPosition()
                lat = pos.lat()
                lng = pos.lng()
                
                // dont reposition the map while peg man is being dragged
                if (!pegMovingInSV) {
                    map.setCenter(pos)
                }
            })
        }
        
        const addMarker = (title, infoText) => {
            if (!panorama.getVisible()) return
            const marker = new google.maps.Marker({
                position: { lat, lng },
                map: panorama,
                title, 
            })
            const infoWindow = new google.maps.InfoWindow({
                content: `<p class="info-window">${infoText}</p>` 
            })
            infoWindows = [...infoWindows, infoWindow]
            markers = [...markers, marker]
            markerInfoClick(marker, infoWindow)
        }
        
        function create_marker(title, infoText) {
            $.ajax({
                url : "create_marker/", // the endpoint
                type : "POST", // http method
                data : { title, infoText, lat, lng }, // data sent with the post request
        
                // handle a successful response
                success : function(json) {
                    addMarker(json.title, json.infoText)
                    document.querySelector("#floating-modal").style.display = "none"
                },
        
                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#modal-form-results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };
        
        $("#modal-form").on('submit', event => {
            event.preventDefault()
            const title = document.getElementById("modal-form-title").value
            const infoText = document.getElementById("modal-form-infoText").value
            document.getElementById("modal-form-title").value = ""
            document.getElementById("modal-form-infoText").value = ""
            create_marker(title, infoText)
        })
        
        function CreateMarkerControl(controlDiv, map) {
            // assumes control will be positioned bottom left
            var controlUI = document.createElement('div');
            controlUI.style.position = "absolute"
            controlUI.style.bottom = "5px"
            controlUI.style.left = "5px"
            controlUI.style.backgroundColor = 'rgb(34, 34, 34)';
            controlUI.style.border = '0px';
            controlUI.style.borderRadius = '2px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '22px';
            controlUI.style.textAlign = 'center';
            controlUI.style.userSelect = "none"
            controlUI.title = 'Click to add a marker to the map';
            controlDiv.appendChild(controlUI);
            
            var controlText = document.createElement('div');
            controlText.style.color = 'rgb(221,224,216)';
            controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
            controlText.style.fontSize = '16px';
            controlText.style.lineHeight = '38px';
            controlText.style.paddingLeft = '5px';
            controlText.style.paddingRight = '5px';
            controlText.innerHTML = 'Add Marker';
            controlUI.appendChild(controlText);
            
            controlUI.addEventListener('click', function() {
                showModal()
            });
        }
        
    </script>
    <script>
        $(function() {
            // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
        
            /*
            The functions below will create a header with csrftoken
            */
        
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
        
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9jTGYNpWqhcKSA3dI_atkepXqAIvfnck&callback=initMap"></script>
</body>

</html>
