{% extends 'base_generic.html' %}

{% block content %}
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-3">Build and Share Memory Palaces</h1>
        <p class="lead pb-4">build interactive memory palaces in the real world</p>
        <p><a href="{% url 'streetmarkers:map' %}" class="btn btn-primary btn-lg" role="button">START</a></p>
    </div>
</header>

<section class="container-fluid text-center py-4 mt-4" id="contact">
    <h2 class="display-4 pb-4 my-4">Super cool memory palace picture!</h2>
    <p class="lead pb-3">I can feel the mnemonic power!</p>
</section>
{% endblock %}