{% extends 'base_generic.html' %}

{% load static %}
{% block content %}

<content>
    {% for pegsystem in pegsystem_list %}
    <h2>
        {{ user.username|title }}'s Peg Systems
        <span class="btn btn-default btn-sm">
            <a href="{% url 'pegs:pegsystem_create' %}">
                <img src="{% static 'svg/create.svg' %}">
            </a>
        </span>
    </h2>
    <table class="table">
        <h3>
            {{ pegsystem.title }}
            <span class="btn btn-default btn-sm">
                <a href="{% url 'pegs:pegsystem_update' pegsystem.pk %}">
                    <img src="{% static 'svg/update.svg' %}">
                </a>
            </span>
            <span class="btn btn-default btn-sm">
                <a href="{% url 'pegs:pegsystem_delete' pegsystem.pk %}">
                    <img src="{% static 'svg/delete.svg' %}">
                </a>
            </span>
        </h3>
        <h6>{{ pegsystem.description }}</h6>
        <thead>
            <tr>
                <th scope="col">content</th>
                <th scope="col">person</th>
                <th scope="col">object</th>
                <td class="btn btn-default btn-sm">
                    <a href="{% url 'pegs:popeg_create' pegsystem.pk %}">
                        <img src="{% static 'svg/create.svg' %}">
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for peg in pegsystem.peg_set.all %}
            {% if peg.popeg %}
            <a href="update/popeg/{{ peg.pk }}">
                <tr>
                    <th scope="row">{{ peg.content }}</th>
                    <td>{{ peg.popeg.person }}</td>
                    <td>{{ peg.popeg.object }}</td>
                    <td class="btn btn-default btn-sm">
                        <a href="{% url 'pegs:popeg_update' peg.pk %}">
                            <img src="{% static 'svg/update.svg' %}">
                        </a>
                    </td>
                    <td class="btn btn-default btn-sm">
                        <a href="{% url 'pegs:popeg_delete' peg.pk %}">
                            <img src="{% static 'svg/delete.svg' %}">
                        </a>
                    </td>
                </tr>
            </a>
            {% endif %}
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</content>

{% endblock %}

{% block script %}
<script>
    const update = pk => window.location.href = ``
</script>
{% endblock %}