{% extends 'base_generic.html' %}

{% load static %}
{% block content %}

<content>
    {% for pegsystem in pegsystem_list %}
    <table class="table">
        <h2>{{ pegsystem.title }}</h2>
        <thead>
            <tr>
                <th scope="col">content</th>
                <th scope="col">person</th>
                <th scope="col">object</th>
                <th class="btn btn-default btn-sm">
                    <a href="{% url 'pegs:popeg_create' pegsystem.pk %}">
                        <img src="{% static 'svg/create.svg' %}">
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for peg in pegsystem.peg_set.all %}
            {% if peg.popeg %}
            <a href="update/popeg/{{ peg.pk }}">
                <tr>
                    <th scope="row">{{ peg.content }}</th>
                    <td>{{ peg.popeg.person }}</td>
                    <td>{{ peg.popeg.object }}</td>
                    <td class="btn btn-default btn-sm">
                        <a href="{% url 'pegs:popeg_update' peg.pk %}">
                            <img src="{% static 'svg/update.svg' %}">
                        </a>
                        <a href="{% url 'pegs:popeg_delete' peg.pk %}">
                            <img src="{% static 'svg/delete.svg' %}">
                        </a>
                    </td>
                </tr>
            </a>
            {% endif %}
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</content>

{% endblock %}

{% block script %}
<script>
    const update = pk => window.location.href = ``
</script>
{% endblock %}